{% extends "base.html" %}
{% load static %}

{% block content %}






<h1>지역 상세정보페이지 입니다</h1>
<h1>{{topic}}</h1>


{% for d in detail %}
<main>
    <div class="inner_wrap2">
        <h3 class="titles">
            전라남도 장성에서 즐기는 나만의 힐링 오피스
        </h3>
        <span class="sub_title">위치 : 전라남도 장성군 삼서면 수양산원길 173 -1</span>
        <div class="sub_list">
            <div class="sub_big">
                <img src="{{d.img_big}}"  alt="">
            </div>
            <div class="sub_small">
                <img src="{{d.img1}}" alt="">
                <img src="{{d.img2}}" alt="">
                <img src="{{d.img3}}" alt="">
                <img src="{{d.img4}}" alt="">
            </div>
        </div>
        <div class="sub_main">
            <div class="sub_text">
                <div class="sub_titles">
                    <div class="sub_img">
                        <img src="{{d.profile_img}}"  alt="">
                    </div>
                    <div class="text">
                        <h3>{{d.title}}</h3>
                        <p>{{d.content}}</p>
                    </div>
                </div>
                <div class="list_text">
                    <div class="text">
                        <div class="titles">{{d.small_title1}}</div>
                        <p>{{d.small_content1}}</p>
                    </div>
                    <div class="text">
                        <div class="titles">{{d.small_title2}}</div>
                        <p>{{d.small_content1}}</p>
                    </div>
                </div>
            </div>
            <div class="sub_select">
                <div class="price">
                    <span class="price1">{{d.price}}</span>
                    <span class="price2">/ 박</span>
                </div>
                <div class="sub_box">
                    <div class="line">
                        <p>체크인</p>
                        <input type="date" name="" id="day1" value="2022-07-21">
                    
                    </div>
                    <div>
                        <p>체크아웃</p>
                        <input type="date" name="" id="day2" value="2022-07-22">
                    </div>
                </div>
                <button class="btn" onclick="ok()">예약하기</button>
            </div>
        </div>
    </div>
</main>
{% endfor %}

<footer>
    <div class="footer_top"></div>
    <div class="footer_bottom"></div>
</footer>
</div>
</body>

</html>
<script>
var now_utc = Date.now()
var timeOff = new Date().getTimezoneOffset()*60000;
var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
document.getElementById("day1").setAttribute("min", today);
document.getElementById("day2").setAttribute("min", today);

function ok(){
const day1 = document.getElementById('day1').value;
const day2 = document.getElementById('day2').value;

alert("전라남도 장성에서 즐기는 나만의 힐링 오피스 예약되었습니다. \n" + day1 + " ~ " +day2);
location.href ="/";

}
</script>

{% endblock %}