{% extends "base.html" %}
{% load static %}

{% block content %}






<h1>체험 상세정보페이지 입니다(정적)</h1>


<main>
    <div class="inner_wrap2">
        <h3 class="titles">
            전라남도 순천에서 즐기는 딸기농장 체험
        </h3>
        <span class="sub_title">위치 : 전라남도 순천시 외서면 월암리 165-5</span>
        <div class="sub_list">

            <div class="sub_small2">
                <img src="{% static 'my_app/images/sub3_1.png' %}" alt="">
                <img src="{% static 'my_app/images/sub3_2.png' %}" alt="">
                <img src="{% static 'my_app/images/sub3_3.png' %}" alt="">
                <img src="{% static 'my_app/images/sub3_4.png' %}" alt="">
            </div>
            <div class="sub_big">
                <img src="{% static 'my_app/images/sub3_5.png' %}" alt="">
            </div>
        </div>
        <div class="sub_main">
            <div class="sub_text">
                <div class="sub_titles">

                    <div class="text">
                        <h3>신선한 딸기를 직접 느끼는 ‘일링 딸기농장'</h3>
                        <p>딸기농장에서 직접 재배중인 딸기를 수확 + 직접 수확 + 맛보기 체험이며 수확한 딸기 500G 한팩은 가지고 가셔서 집에서 맛있게 드시면 됩니다. 일링 딸기농장은 약 1000평 규모의 거대한 비닐하우스 맑고 아름다운 풍경을 친구삼아 보고, 듣고, 만지고 느끼는 오감체험을 통해! 딸기체험하러 오세요!!</p>
                    </div>
                </div>
                <div class="list_text">
                    <div class="text">
                        <div class="titles">일링 딸기농장의 매력은?</div>
                        <p>언제나 싱그러운 딸기를 체험할 수 있도록 관리하고 있습니다. 특정 여름기간을 제외하고 상시 운영됩니다.</p>
                    </div>
                    <div class="text">
                        <div class="titles">챙겨야 할 것</div>
                        <p>딸기를 먹고 싶은 마음 하나면 충분합니다! 딸기를 열심히 따고 맛있게 먹을 마음만 있다면 별도의 준비물은 필요하지 않습니다. 필요한 게 있다면 저희 일링 딸기농장에서 제공합니다.</p>
                    </div>
                </div>
            </div>
            <div class="sub_select">
                <div class="price">
                    <span class="price1">10,000</span>
                    <span class="price2">/ 인</span>
                </div>
                <div class="sub_box">
                    <div class="line">
                        <p>체험일</p>
                        <input type="date" name="" id="day" value="2022-07-21">
                    
                    </div>
                    <div>
                        <p>인원</p>
                        <div>
                            <input class="number" type="number" value="1" name="" id="number" >
                            <span class="right">인</span>
                        </div>
                    </div>
                </div>
                <button class="btn" onclick="ok()">예약하기</button>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer_top"></div>
    <div class="footer_bottom"></div>
</footer>
</div>
<script>
var now_utc = Date.now()
var timeOff = new Date().getTimezoneOffset()*60000;
var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
document.getElementById("day").setAttribute("min", today);

function ok(){
    const day = document.getElementById('day').value;
    const number = document.getElementById('number').value;
    alert("전라남도 순천에서 즐기는 딸기농장 체험 예약되었습니다. \n"+day +" "+ number+"명");
    location.href ="/my_app";

}
</script>

{% endblock %}