{% extends "base.html" %}
{% load static %}

{% block content %}


<main>
    <div class="banner">
        <img class="bg" src="{% static 'my_app/images/sub4.png' %}" alt="">
        <img class="bg2"src="{% static 'my_app/images/banner2_bg.png' %}" alt="" class="bg">
        <h3 class="banner_text">바다 : 파도소리로 일링해요</h3>
        <div class="banner_btn">
            <img src="{% static 'my_app/icon/banner_arr.png' %}" alt="">

        </div>
    </div>

    <!-- 서브 이름 -->
    <div class="con1 inner_wrap">
        <h3 class="title">바다 숙소</h3>

        
        <!-- 지역별 힐링하우스 -->
        <div class="list_box">
            {% for p in region1 %}
            <div class="box">
                <div class="box_img">
                    <a href="{{p.name}}">
                        <img class="main_img" src="{{ p.profile_img }}" alt="">
                    </a>
                    <img class="heart" src="{% static 'my_app/icon/heart_black.png' %}" alt="">
                </div>
                <a href="#">
                    <div class="box_text">
                        <div class="text_title">
                            <h5> {{p.name}} </h5>
                            <div class="grade">
                                <img src="{% static 'my_app/icon/star.png' %}" alt="">
                                <span>{{p.reputation}}</span>
                            </div>
                        </div>
                        <p>{{p.content}}</p>
                        <p>{{p.price}} / 박</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="list_box">
            {% for p in region2 %}
            <div class="box">
                <div class="box_img">
                    <a href="{{p.name}}">
                        <img class="main_img" src="{{ p.profile_img }}" alt="">
                    </a>
                    <img class="heart" src="{% static 'my_app/icon/heart_black.png' %}" alt="">
                </div>
                <a href="#">
                    <div class="box_text">
                        <div class="text_title">
                            <h5> {{p.name}} </h5>
                            <div class="grade">
                                <img src="{% static 'my_app/icon/star.png' %}" alt="">
                                <span>4.96</span>
                            </div>
                        </div>
                        <p>{{p.content}}</p>
                        <p>{{p.price}} / 박</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <a class="list_btn" href="#">더보기</a>
    </div>

    <!-- 서브 이름 -->
    <!-- <div class="con2 inner_wrap">
        <h3 class="title">추천체험</h3> -->

        <!-- 추천체험
        <div class="list_box">
            {% for p in recommendation1 %}
            <div class="box">
                <div class="box_img">
                    <a href="#">
                        <img class="main_img" src="{{ p.profile_img }}" alt="">
                    </a>
                    <img class="heart" src="{% static 'my_app/icon/heart_black.png' %}" alt="">
                </div>
                <a href="#">
                    <div class="box_text">
                        <div class="text_title">
                            <h5> {{p.name}} </h5>
                            <div class="grade">
                                <img src="{% static 'my_app/icon/star.png' %}" alt="">
                                <span>4.96</span>
                            </div>
                        </div>
                        <p>{{p.content}}</p>
                        <p>{{p.price}} / 박</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="list_box">
            {% for p in recommendation2 %}
            <div class="box">
                <div class="box_img">
                    <a href="#">
                        <img class="main_img" src="{{ p.profile_img }}" alt="">
                    </a>
                    <img class="heart" src="{% static 'my_app/icon/heart_black.png' %}" alt="">
                </div>
                <a href="#">
                    <div class="box_text">
                        <div class="text_title">
                            <h5> {{p.name}} </h5>
                            <div class="grade">
                                <img src="{% static 'my_app/icon/star.png' %}" alt="">
                                <span>4.96</span>
                            </div>
                        </div>
                        <p>{{p.content}}</p>
                        <p>{{p.price}} / 박</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <a class="list_btn" href="#">더보기</a>
    </div> -->

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>s
    <script>

        function evnet(){
            $(document)
            .on("click",".heart" , function(){

                var color = $(this).hasClass("heart_color");
            
                if(color){
                    $(this).removeClass("heart_color")
                    $(this).attr("src","/static/my_app/icon/heart_black.png")
                }else {
                    $(this).addClass("heart_color")
                    $(this).attr("src","/static/my_app/icon/heart_color.png")
                }
            })
        }

        $(function(){
            evnet();
        })
    </script>

</main>
<footer>
    <div class="footer_top">
        <div class="inner_wrap2">
            <div>
                <div>
                    <ul class="footer_menu">
                        <li>HOME</li>
                        <li>산</li>
                        <li>들</li>
                        <li>바다</li>
                        <li>체험하기</li>
                        <li>스팟지도</li>
                        <li>ABOUT US</li>
                    </ul>
                    <div>
                        <p>사업자 명: 일링</p>
                        <p>협찬: 오아시스 해커톤</p>
                    </div>
                </div>
                <ul class="sns">
                    <li><img src="{% static 'my_app/images/sns1.png' %}" alt=""></li>
                    <li><img src="{% static 'my_app/images/sns2.png' %}" alt=""></li>
                    <li><img src="{% static 'my_app/images/sns3.png' %}" alt=""></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="footer_bottom">

        <p>Copyright 2021. 일링 Co., Ltd. all rights reserved.</p>
    </div>
</footer>

{% endblock %}