{% extends "base.html" %}
{% load static %}

{% block content %}

<main>
    <h1>머닐밍ㄴ럄닝ㄹ</h1>
    {% for p in place %}
    <div class="inner_wrap2">
        <div class="titles">내 주변 추천스팟</div>
        <span class="sub_title">내 위치 : 전라남도 순천시 국가정원길 123</span>
        
        <div id ="map" class="map"></div>

        <div class="profile">
            <div class="profile_text">
                <div class="text_title">
                    <h3>{{p.name}}</h3>
                    <div class="grade">
                        <img src="/static/my_app/icon/star.png" alt="">
                        <span> {{p.reputation}} </span>
                    </div>
                </div>
                <span>{{p.tpye}}</span>
                <p>{{p.address}}</p>
            </div>
            <div class="profile_img">
                <img src="{{ p.profile_img }}" alt="">
            </div>
        </div>
        <div class="sub_list">
            <div class="sub_small2">
                <img src="{{ p.img1 }}" alt="">
                <img src="{{ p.img2 }}" alt="">
                <img src="{{ p.img3 }}" alt="">
                <img src="{{ p.img4 }}" alt="">
            </div>
            <div class="sub_big">
                <img src="{{ p.img_big }}" alt="">
            </div>
        </div>
        <div class="map_bottom">
            <h3 class="titles">{{p.title}}</h3>
            <p>{{p.content}}</p>
            <div class="list_text">
                <div class="text">
                    <div class="titles">{{p.small_title1}}</div>
                    <p>{{p.small_content1}}</p>
                </div>
                <div class="text">
                    <div class="titles">{{p.small_title2}}</div>
                    <p>{{p.small_content2}}</p>
                </div>
                <div class="text">
                    <div class="titles">추천코스</div>
                    <img src="{{p.recommend_load_img}}"" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
<footer>
    <div class="footer_top"></div>
    <div class="footer_bottom"></div>
</footer>
</div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fddbb98b1c8bf19ba082003e2b48346e"></script>
<script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(34.929172187867515, 127.49916182770164), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
            

        // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption); 


        var marker = new kakao.maps.Marker({ 
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter() 
        }); 
        marker.setMap(map);
</script>
</html>


{% endblock %}