{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
    <title>일링</title>
</head>
<body>

    <div>
        <ul id="nav">
            <li><a href="{% url 'my_app:mainpage' %}">mainpage</a></li>
            <li><a href="{% url 'my_app:page1' %}">page1</a></li>
            <li><a href="{% url 'my_app:page2' %}">page2</a></li>
            <li><a href="{% url 'my_app:page3' %}">page3</a></li>
        </ul>  
    </div>
    
    {% block content %}

    {% endblock %}
    
</body>
</html>