{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/my_app/css/style.css">
    <title>일링</title>
</head>
<body>
    <div id="wrap">
        <header>
            <div class="h_top">
                <div class="wrap">
                    <div class="logo">
                        <a href="{% url 'my_app:mainpage' %}"><img src="{% static 'my_app/images/logo.png' %}" alt = 'logo'></a>
                    </div>
                    <div class="search">
                        <form action="" method="post">
                            <div class="search_icon">
                                <button type="submit"><img src="{% static 'my_app/icon/search.png' %}" alt = ""></button>
                            </div>
                            <input type="text" id="search" placeholder="검색어를 입력하세요.">
                        </form>
                    </div>
                    <div class="mypage">

                        <!-- <a href="">로그인</a>
                        <a href="">회원가입</a> -->
                        <a href="">{{nickname}} 님</a>
                        <a href="">로그아웃</a>

                    </div>
                </div>
            </div>
            <div class="wrap">
                <ul class="h_menu">
                    <li><a href="{% url 'my_app:mainpage' %}"><img src="{% static 'my_app/icon/menu1.png' %}" alt="">HOME</a></li>
                    <li><a href="#"><img src="{% static 'my_app/icon/menu2.png' %}" alt="">산</a></li>
                    <li><a href="#"><img src="{% static 'my_app/icon/menu3.png' %}" alt="">들</a></li>
                    <li><a href="#"><img src="{% static 'my_app/icon/menu4.png' %}" alt="">바다</a></li>
                    <li><a href="{% url 'my_app:experience' %}">체험하기</a></li>
                    <li><a href="{% url 'my_app:spotmap' %}">스팟지도</a></li>
                    <li><a href="#">ABOUT US</a></li>
                </ul>
            </div>
        </header>

        <h1>{{nickname}}test</h1>
        

        {% block content %}

        {% endblock %}
    </div>   
</body>
</html>